<html>
  <head>
    <title>Lab 2-3b</title>
    
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    
    <h1>Trolo</h1>

<div class="square">

  <h2>Today</h2>

  <!-->
  <div class="item">
      <button class="btn" value="Done"></button>
      <div class="item-text"><%= params %></div>
  </div>  -->

  <ul>
  <% items.each do |item| %>
    <li class="<%= item[:status] %>">
      <%= item[:name] %>
    </li>
  <% end %>
</ul>  


  <form acttion="/add" methods="post">
  <input type="submit" class="btn">
  <input class="textIn" type="text" placeholder="Add a..">

  </form>

</div>


  </body>
</html>