<html>
  <head>
    <title>Lab 2-3b</title>
    
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    
    <h1>Trolo</h1>

<div class="square">

  <h2>Today</h2>
  
  <form>
  <div class="item">
      <button class="btn" value="Done"></button>
      <div class="item-text"><%= params %></div>
  </div>

  <input class="textIn" type="text" placeholder="Add a card..">

  </form>

</div>


  </body>
</html>