body{
  margin: 0;
  padding: 0;
  background-color: #1CA5DB;
  font-family: sans-serif;
}

h1{
  color:#fff;
  font-size: 2em;
  margin-left: 27px;
}

h2{
 margin-top: 8px; 
 margin-left: 15px;
 padding-top: 10px;
}


.square{
  width: 30%;
  margin-left: 25px;
  text-align: left;
  background-color:#DDE3E8;
  border-radius: 3px;
}

.item{
  margin: 5px 15px 5px 5px;
  padding: 5px 15px 5px 5px;
  background-color:#fff;
  box-shadow: 0px 0.8px 0px 0px;
  border-radius: 5px;
  display: inline-block;
}

.textIn{
  width: 100%;
  height: 5%;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color:#DDE3E8;
  color: #000;
  border-style: none;
  font-size: 15px;
}


.btn{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  margin-left: 150px;
  margin-top: 15px;
  background-color: #1CA5DB;
  border-style:none;
  border-radius: 3px;
  cursor: pointer;
  
}

.btn:hover{
  background-color: yellow;
}


.front{
  margin: 100px 400px 100px 200px;
  text-align: center; 
}


.list{
  list-style: none;
} 

.done{
  text-decoration:line-through; 
}
