
body{
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
  /*background-color: #54E4FD;*/
  font-family: sans-serif;
}



h1{
  color:#fff;
  font-size: 3em;
  margin-left: 25px;
}

h2{
 margin-top: 8px; 
 margin-left: 15px;
 padding-top: 10px;
}

.square{
  margin-left: 35px;
  height: 70%;
  width: 28%;
  background-color:#DDE3E8;
  /*background-color: #f7f7f7;*/
  border-radius: 3px;
}

.item{
  margin: 5px 15px 5px 15px;
  padding: 5px 10px 5px 5px;
  background-color:#fff;
  box-shadow: 0px 0.8px 0px 0px;
  border-radius: 5px;
}

.textIn{
  width: 99%;
  height: 30px;
  background-color:#f7f7f7;
  color: #000;
  border-block-end-style: none;
}

button{
  margin: 0px 0px 0px 250px;
  background-color: cornflowerblue;
}


.btn{
  margin: 0px 0px 0px 250px;
  background-color: cornflowerblue;
}







