<html>
  <head>
    <title>Lab 2-3b</title>
    
   <!-- <link rel="stylesheet" href="/styles/styles.css"> -->
  </head>
  <body>
    
    <h1>Trolo</h1>

<div class="square">

  <h2>Today</h2>

  <form action="/update" method="post">
  <ul class="list">
  <% items.each_with_index do |item| %>
    <%= erb :"_item.html", locals: {item: item, sort: params["sort"]} %>
    <% end %>
</ul>  
</form>


  <form action="/add" method="post">

  <input type="submit" class="btn">
  <input class="textIn" type="text" name="name" placeholder="Add a..">

  </form>

</div>


  </body>
</html>