<html>
  <head>
    <title>MyApp</title>
    
  <!-- <link rel="stylesheet" href="/styles/styles.css"> -->
  </head>
  <body>
    
    <h1>Trolo</h1>

<div class="square">

  <h2>Today</h2>
<div class="list-container">
  <form action="/update" method="post">
  <button class="btn2" type="submit" >Save</button>
     <ul class="list">
      <% items.each_with_index do |item,index| %>
         <%= erb :"_item.html", locals: {item: item, sort: params["sort"]} %>
      <% end %>
      </ul>  
   </form>
 </div>

  <form action="/add" method="post">
     <input class="textIn" type="text" name="name" placeholder="Add a..">
  </form>

</div>


  </body>
</html>