<html>
<head>
    <title>MyApp</title>
</head>

<body>
<div class="front">

<h1>Welcome</h1>

<h2>Some use full Links</h2>

        <div>
            <ul>
                <li><a class="be-blue" href="/about">About</a></li>
                <li><a class="be-blue" href="/trolo">Trolo</a></li>
            </ul>

        </div>

<div class="img-main">
    <img src="/images/duck.png">
</div>

</div>


</body>


</html>