<html>
<head>
    <title>MyApp</title>
</head>

<body>

<h1>Welcome</h1>

<h2>Some use full Links</h2>

        <div>
            <ul>
                <li><a href="/About">About</a></li>
                <li><a href="/trello">Trello</a></li>
            </ul>

        </div>

<div class="img-cont">
    <img src="/images/duck.png">
</div>



</body>


</html>