<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
  </head>
  <body>

  <div id="header">
  <a href="/" class="header-logo">
    <img src="/images/duck.png" alt="logo">
     Trolo
   </a>
 </div>

    <%= yield %>
  </body>
</html>