<html>
  <head>
    <title>Lab 2-3b</title>
    <style>
      /* your CSS code here */
    </style>
  </head>
  <body>
    
    <h1>Trolo</h1>

<div class="square">

  <h2>Today</h2>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Strings</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Operators</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Variables</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Methods</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Class</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn OOP</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Procs</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Sinatra</p>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" onclick="done_click()">
      <p>Learn Rails</p>
  </div>

  <input class="textIn" type="text" placeholder="Add a card..">

</div>


  </body>
</html>